// /* ========================================================================= *\
// **  ===  FONTS                                                               *| 
// \* ========================================================================= */
// @font-face
//   font-family: 'Zapfino'
//   src: url('../fonts/Zapfino.ttf')

@font-face
    font-family: 'IbraRnovaB'
    src: url('../fonts/IbarraRealNova-Bold.ttf')

@font-face
    font-family: 'SourceSproL'
    src: url('../fonts/SourceSansPro-Light.ttf')

@font-face
    font-family: 'SourceSproR'
    src: url('../fonts/SourceSansPro-Regular.ttf')


$font-primary: 'IbraRnovaB'
$font-secondary: 'SourceSproL'
$font-tertiary: 'SourceSproR'

// /* ========================================================================= *\
// **  ===  COLORS                                                              *| 
// \* ========================================================================= */

// Base
$blue: #007bff
$purple: #6f42c1
$pink: #e83e8c
$red: #dc3545
$orange: #fd7e14
// $yellow: #ffc107
$green: #28a745
$white: #fff
$grey: #6c757d
$grey-dark: #343a40
$light: #f8f9fa
$dark: #343a40

// Custom for Project 
// $black: #3A3636
// $gold: #926A41
// $gold-light: #eee8e5
// $green-dark: #34433E
// $green-medium: #374a45
// $grey-light: #CDCFCE

$black: #000000
$yellow: #DBDC2D
$white: #FFFFFF

$color-primary: $black
$color-secondary: $yellow
$color-tertiary: $white



// $color-primary: $black
// $color-secondary: $gold
// $color-tertiary: $grey
// $color-4: $grey-light
// $color-5: $green-dark
// $color-6: $green-medium
// $color-7: $gold-light


// /* ========================================================================= *\
// **  ===  BREAKPOINTS                                                         *| 
// \* ========================================================================= */
$breakpoint-xs: 0
$breakpoint-sm: 576px
$breakpoint-md: 768px
$breakpoint-lg: 992px
$breakpoint-xl: 1200px