//- META 
meta(charset='utf-8')
meta(http-equiv='x-ua-compatible', content='ie=edge')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(content='telephone=no' name='format-detection')
meta(name='HandheldFriendly' content='true')

//- FONTS
link(href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet")

//- FAVICON
meta(name='msapplication-TileImage' content='assets/img/content-fav/ms-icon-144x144.png')
link(rel='icon' type='image/x-icon' href='/assets/img/content-fav/favicon.ico')

//- COLOR THEME
meta(name='theme-color' content='#ffffff')
meta(name='msapplication-TileColor' content='#ffffff')

//- STYLESHEETS
link(href='./assets/css/main.css' rel='stylesheet')

//- PLUGINS
script(src='./assets/js/plugins.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.3/gsap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.3/ScrollTrigger.min.js")

//- GOOGLE MAP
script(src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC_s2K1Q1SAiUtdos-acg88BMjNUTI6Lo0")