.color-primary
  color: $color-primary

.color-secondary
  color: $color-secondary

.color-tertiary
  color: $color-tertiary


.bg-img
  background: center / cover no-repeat

.bg-primary
  background-color: $color-primary

.bg-secondary
  background-color: $color-secondary

.bg-tertiary
  background-color: $color-tertiary

.bg-white
  background-color: #fff !important

.bg-transparent
  background-color: transparent !important

.border-0
  border: 0 !important

.rounded
  border-radius: 0.25rem !important

.rounded-top
  border-top-left-radius: 0.25rem !important
  border-top-right-radius: 0.25rem !important

.rounded-right
  border-top-right-radius: 0.25rem !important
  border-bottom-right-radius: 0.25rem !important

.rounded-bottom
  border-bottom-right-radius: 0.25rem !important
  border-bottom-left-radius: 0.25rem !important

.rounded-left
  border-top-left-radius: 0.25rem !important
  border-bottom-left-radius: 0.25rem !important

.rounded-circle
  border-radius: 50% !important

.rounded-0
  border-radius: 0 !important

.clearfix::after
  display: block
  clear: both
  content: ""


.align-baseline
  vertical-align: baseline !important

.align-top
  vertical-align: top !important

.align-middle
  vertical-align: middle !important

.align-bottom
  vertical-align: bottom !important

.align-text-bottom
  vertical-align: text-bottom !important

.align-text-top
  vertical-align: text-top !important


.d-none
  display: none !important

.d-inline
  display: inline !important

.d-inline-block
  display: inline-block !important

.d-block
  display: block !important

.d-table
  display: table !important

.d-table-row
  display: table-row !important

.d-table-cell
  display: table-cell !important

.d-flex
  display: -webkit-box !important
  display: -ms-flexbox !important
  display: flex !important

.d-inline-flex
  display: -webkit-inline-box !important
  display: -ms-inline-flexbox !important
  display: inline-flex !important

@media (min-width: $breakpoint-sm)
  .d-sm-none
    display: none !important

  .d-sm-inline
    display: inline !important

  .d-sm-inline-block
    display: inline-block !important

  .d-sm-block
    display: block !important

  .d-sm-table
    display: table !important

  .d-sm-table-row
    display: table-row !important

  .d-sm-table-cell
    display: table-cell !important

  .d-sm-flex
    display: -webkit-box !important
    display: -ms-flexbox !important
    display: flex !important

  .d-sm-inline-flex
    display: -webkit-inline-box !important
    display: -ms-inline-flexbox !important
    display: inline-flex !important


@media (min-width: $breakpoint-md)
  .d-md-none
    display: none !important

  .d-md-inline
    display: inline !important

  .d-md-inline-block
    display: inline-block !important

  .d-md-block
    display: block !important

  .d-md-table
    display: table !important

  .d-md-table-row
    display: table-row !important

  .d-md-table-cell
    display: table-cell !important

  .d-md-flex
    display: -webkit-box !important
    display: -ms-flexbox !important
    display: flex !important

  .d-md-inline-flex
    display: -webkit-inline-box !important
    display: -ms-inline-flexbox !important
    display: inline-flex !important


@media (min-width: $breakpoint-lg)
  .d-lg-none
    display: none !important

  .d-lg-inline
    display: inline !important

  .d-lg-inline-block
    display: inline-block !important

  .d-lg-block
    display: block !important

  .d-lg-table
    display: table !important

  .d-lg-table-row
    display: table-row !important

  .d-lg-table-cell
    display: table-cell !important

  .d-lg-flex
    display: -webkit-box !important
    display: -ms-flexbox !important
    display: flex !important

  .d-lg-inline-flex
    display: -webkit-inline-box !important
    display: -ms-inline-flexbox !important
    display: inline-flex !important


@media (min-width: $breakpoint-xl)
  .d-xl-none
    display: none !important

  .d-xl-inline
    display: inline !important

  .d-xl-inline-block
    display: inline-block !important

  .d-xl-block
    display: block !important

  .d-xl-table
    display: table !important

  .d-xl-table-row
    display: table-row !important

  .d-xl-table-cell
    display: table-cell !important

  .d-xl-flex
    display: -webkit-box !important
    display: -ms-flexbox !important
    display: flex !important

  .d-xl-inline-flex
    display: -webkit-inline-box !important
    display: -ms-inline-flexbox !important
    display: inline-flex !important

.embed-responsive::before
  display: block
  content: ""

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  border: 0

.embed-responsive-21by9::before
  padding-top: 42.857143%

.embed-responsive-16by9::before
  padding-top: 56.25%

.embed-responsive-4by3::before
  padding-top: 75%

.embed-responsive-1by1::before
  padding-top: 100%

.visible
  visibility: visible !important

.invisible
  visibility: hidden !important