.form-control
  display: block
  width: 100%
  padding: 0.375rem 0.75rem
  font-size: 1rem
  line-height: 1.5
  color: #495057
  background-color: #fff
  background-clip: padding-box
  border: 1px solid #ced4da
  border-radius: 0.25rem
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out

.form-control::-ms-expand
  background-color: transparent
  border: 0

.form-control:focus
  color: #495057
  background-color: #fff
  border-color: #80bdff
  outline: 0
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)

.form-control::-webkit-input-placeholder
  color: #6c757d
  opacity: 1

.form-control::-moz-placeholder
  color: #6c757d
  opacity: 1

.form-control:-ms-input-placeholder
  color: #6c757d
  opacity: 1

.form-control::-ms-input-placeholder
  color: #6c757d
  opacity: 1

.form-control::placeholder
  color: #6c757d
  opacity: 1

.form-control:disabled, .form-control[readonly]
  background-color: #e9ecef
  opacity: 1

select.form-control:not([size]):not([multiple])
  height: calc(2.25rem + 2px)

select.form-control:focus::-ms-value
  color: #495057
  background-color: #fff

.form-control-file,
.form-control-range
  display: block
  width: 100%

.col-form-label
  padding-top: calc(0.375rem + 1px)
  padding-bottom: calc(0.375rem + 1px)
  margin-bottom: 0
  font-size: inherit
  line-height: 1.5

.col-form-label-lg
  padding-top: calc(0.5rem + 1px)
  padding-bottom: calc(0.5rem + 1px)
  font-size: 1.25rem
  line-height: 1.5

.col-form-label-sm
  padding-top: calc(0.25rem + 1px)
  padding-bottom: calc(0.25rem + 1px)
  font-size: 0.875rem
  line-height: 1.5

.form-control-plaintext
  display: block
  width: 100%
  padding-top: 0.375rem
  padding-bottom: 0.375rem
  margin-bottom: 0
  line-height: 1.5
  background-color: transparent
  border: solid transparent
  border-width: 1px 0

.form-control-plaintext.form-control-sm, .input-group-sm > .form-control-plaintext.form-control,
.input-group-sm > .input-group-prepend > .form-control-plaintext.input-group-text,
.input-group-sm > .input-group-append > .form-control-plaintext.input-group-text,
.input-group-sm > .input-group-prepend > .form-control-plaintext.btn,
.input-group-sm > .input-group-append > .form-control-plaintext.btn, .form-control-plaintext.form-control-lg, .input-group-lg > .form-control-plaintext.form-control,
.input-group-lg > .input-group-prepend > .form-control-plaintext.input-group-text,
.input-group-lg > .input-group-append > .form-control-plaintext.input-group-text,
.input-group-lg > .input-group-prepend > .form-control-plaintext.btn,
.input-group-lg > .input-group-append > .form-control-plaintext.btn
  padding-right: 0
  padding-left: 0

.form-control-sm, .input-group-sm > .form-control,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn
  padding: 0.25rem 0.5rem
  font-size: 0.875rem
  line-height: 1.5
  border-radius: 0.2rem

select.form-control-sm:not([size]):not([multiple]), .input-group-sm > select.form-control:not([size]):not([multiple]),
.input-group-sm > .input-group-prepend > select.input-group-text:not([size]):not([multiple]),
.input-group-sm > .input-group-append > select.input-group-text:not([size]):not([multiple]),
.input-group-sm > .input-group-prepend > select.btn:not([size]):not([multiple]),
.input-group-sm > .input-group-append > select.btn:not([size]):not([multiple])
  height: calc(1.8125rem + 2px)

.form-control-lg, .input-group-lg > .form-control,
.input-group-lg > .input-group-prepend > .input-group-text,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-append > .btn
  padding: 0.5rem 1rem
  font-size: 1.25rem
  line-height: 1.5
  border-radius: 0.3rem

select.form-control-lg:not([size]):not([multiple]), .input-group-lg > select.form-control:not([size]):not([multiple]),
.input-group-lg > .input-group-prepend > select.input-group-text:not([size]):not([multiple]),
.input-group-lg > .input-group-append > select.input-group-text:not([size]):not([multiple]),
.input-group-lg > .input-group-prepend > select.btn:not([size]):not([multiple]),
.input-group-lg > .input-group-append > select.btn:not([size]):not([multiple])
  height: calc(2.875rem + 2px)

.form-group
  margin-bottom: 1rem

.form-text
  display: block
  margin-top: 0.25rem

.form-row
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  margin-right: -5px
  margin-left: -5px

.form-row > .col,
.form-row > [class*="col-"]
  padding-right: 5px
  padding-left: 5px

.form-check
  position: relative
  display: block
  padding-left: 1.25rem

.form-check-input
  position: absolute
  margin-top: 0.3rem
  margin-left: -1.25rem

.form-check-input:disabled ~ .form-check-label
  color: #6c757d

.form-check-label
  margin-bottom: 0

.form-check-inline
  display: -webkit-inline-box
  display: -ms-inline-flexbox
  display: inline-flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  padding-left: 0
  margin-right: 0.75rem

.form-check-inline .form-check-input
  position: static
  margin-top: 0
  margin-right: 0.3125rem
  margin-left: 0

.valid-feedback
  display: none
  width: 100%
  margin-top: 0.25rem
  font-size: 80%
  color: #28a745

.valid-tooltip
  position: absolute
  top: 100%
  z-index: 5
  display: none
  max-width: 100%
  padding: .5rem
  margin-top: .1rem
  font-size: .875rem
  line-height: 1
  color: #fff
  background-color: rgba(40, 167, 69, 0.8)
  border-radius: .2rem

.was-validated .form-control:valid, .form-control.is-valid, .was-validated
.custom-select:valid,
.custom-select.is-valid
  border-color: #28a745

.was-validated .form-control:valid:focus, .form-control.is-valid:focus, .was-validated
.custom-select:valid:focus,
.custom-select.is-valid:focus
  border-color: #28a745
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25)

.was-validated .form-control:valid ~ .valid-feedback,
.was-validated .form-control:valid ~ .valid-tooltip, .form-control.is-valid ~ .valid-feedback,
.form-control.is-valid ~ .valid-tooltip, .was-validated
.custom-select:valid ~ .valid-feedback,
.was-validated
.custom-select:valid ~ .valid-tooltip,
.custom-select.is-valid ~ .valid-feedback,
.custom-select.is-valid ~ .valid-tooltip
  display: block

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label
  color: #28a745

.was-validated .form-check-input:valid ~ .valid-feedback,
.was-validated .form-check-input:valid ~ .valid-tooltip, .form-check-input.is-valid ~ .valid-feedback,
.form-check-input.is-valid ~ .valid-tooltip
  display: block

.was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label
  color: #28a745

.was-validated .custom-control-input:valid ~ .custom-control-label::before, .custom-control-input.is-valid ~ .custom-control-label::before
  background-color: #71dd8a

.was-validated .custom-control-input:valid ~ .valid-feedback,
.was-validated .custom-control-input:valid ~ .valid-tooltip, .custom-control-input.is-valid ~ .valid-feedback,
.custom-control-input.is-valid ~ .valid-tooltip
  display: block

.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, .custom-control-input.is-valid:checked ~ .custom-control-label::before
  background-color: #34ce57

.was-validated .custom-control-input:valid:focus ~ .custom-control-label::before, .custom-control-input.is-valid:focus ~ .custom-control-label::before
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(40, 167, 69, 0.25)

.was-validated .custom-file-input:valid ~ .custom-file-label, .custom-file-input.is-valid ~ .custom-file-label
  border-color: #28a745

.was-validated .custom-file-input:valid ~ .custom-file-label::before, .custom-file-input.is-valid ~ .custom-file-label::before
  border-color: inherit

.was-validated .custom-file-input:valid ~ .valid-feedback,
.was-validated .custom-file-input:valid ~ .valid-tooltip, .custom-file-input.is-valid ~ .valid-feedback,
.custom-file-input.is-valid ~ .valid-tooltip
  display: block

.was-validated .custom-file-input:valid:focus ~ .custom-file-label, .custom-file-input.is-valid:focus ~ .custom-file-label
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25)

.invalid-feedback
  display: none
  width: 100%
  margin-top: 0.25rem
  font-size: 80%
  color: #dc3545

.invalid-tooltip
  position: absolute
  top: 100%
  z-index: 5
  display: none
  max-width: 100%
  padding: .5rem
  margin-top: .1rem
  font-size: .875rem
  line-height: 1
  color: #fff
  background-color: rgba(220, 53, 69, 0.8)
  border-radius: .2rem

.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated
.custom-select:invalid,
.custom-select.is-invalid
  border-color: #dc3545

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus, .was-validated
.custom-select:invalid:focus,
.custom-select.is-invalid:focus
  border-color: #dc3545
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25)

.was-validated .form-control:invalid ~ .invalid-feedback,
.was-validated .form-control:invalid ~ .invalid-tooltip, .form-control.is-invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-tooltip, .was-validated
.custom-select:invalid ~ .invalid-feedback,
.was-validated
.custom-select:invalid ~ .invalid-tooltip,
.custom-select.is-invalid ~ .invalid-feedback,
.custom-select.is-invalid ~ .invalid-tooltip
  display: block

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label
  color: #dc3545

.was-validated .form-check-input:invalid ~ .invalid-feedback,
.was-validated .form-check-input:invalid ~ .invalid-tooltip, .form-check-input.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-tooltip
  display: block

.was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.is-invalid ~ .custom-control-label
  color: #dc3545

.was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.is-invalid ~ .custom-control-label::before
  background-color: #efa2a9

.was-validated .custom-control-input:invalid ~ .invalid-feedback,
.was-validated .custom-control-input:invalid ~ .invalid-tooltip, .custom-control-input.is-invalid ~ .invalid-feedback,
.custom-control-input.is-invalid ~ .invalid-tooltip
  display: block

.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before, .custom-control-input.is-invalid:checked ~ .custom-control-label::before
  background-color: #e4606d

.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before, .custom-control-input.is-invalid:focus ~ .custom-control-label::before
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(220, 53, 69, 0.25)

.was-validated .custom-file-input:invalid ~ .custom-file-label, .custom-file-input.is-invalid ~ .custom-file-label
  border-color: #dc3545

.was-validated .custom-file-input:invalid ~ .custom-file-label::before, .custom-file-input.is-invalid ~ .custom-file-label::before
  border-color: inherit

.was-validated .custom-file-input:invalid ~ .invalid-feedback,
.was-validated .custom-file-input:invalid ~ .invalid-tooltip, .custom-file-input.is-invalid ~ .invalid-feedback,
.custom-file-input.is-invalid ~ .invalid-tooltip
  display: block

.was-validated .custom-file-input:invalid:focus ~ .custom-file-label, .custom-file-input.is-invalid:focus ~ .custom-file-label
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25)

.form-inline
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: horizontal
  -webkit-box-direction: normal
  -ms-flex-flow: row wrap
  flex-flow: row wrap
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center

.form-inline .form-check
  width: 100%

@media (min-width: 576px)
  .form-inline label
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center
    margin-bottom: 0

  .form-inline .form-group
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-flex: 0
    -ms-flex: 0 0 auto
    flex: 0 0 auto
    -webkit-box-orient: horizontal
    -webkit-box-direction: normal
    -ms-flex-flow: row wrap
    flex-flow: row wrap
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    margin-bottom: 0

  .form-inline .form-control
    display: inline-block
    width: auto
    vertical-align: middle

  .form-inline .form-control-plaintext
    display: inline-block

  .form-inline .input-group
    width: auto

  .form-inline .form-check
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center
    width: auto
    padding-left: 0

  .form-inline .form-check-input
    position: relative
    margin-top: 0
    margin-right: 0.25rem
    margin-left: 0

  .form-inline .custom-control
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center

  .form-inline .custom-control-label
    margin-bottom: 0

