a
  color: #007bff
  text-decoration: none
  background-color: transparent
  -webkit-text-decoration-skip: objects

a:hover
  color: #0056b3
  text-decoration: underline

a:not([href]):not([tabindex])
  color: inherit
  text-decoration: none

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus
  color: inherit
  text-decoration: none

a:not([href]):not([tabindex]):focus
  outline: 0
	
a
	text-decoration: none
	transition: ease 350ms
	color: $color-primary
	&:hover,
	&:focus
		color: $grey
		text-decoration: none


	&:focus
		outline: none


	&:hover,
	&:active
		outline: 0
