.text-justify
  text-align: justify !important

.text-nowrap
  white-space: nowrap !important

.text-truncate
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.text-left
  text-align: left !important

.text-right
  text-align: right !important

.text-center
  text-align: center !important

@media (min-width: 576px)
  .text-sm-left
    text-align: left !important

  .text-sm-right
    text-align: right !important

  .text-sm-center
    text-align: center !important


@media (min-width: 768px)
  .text-md-left
    text-align: left !important

  .text-md-right
    text-align: right !important

  .text-md-center
    text-align: center !important


@media (min-width: 992px)
  .text-lg-left
    text-align: left !important

  .text-lg-right
    text-align: right !important

  .text-lg-center
    text-align: center !important


@media (min-width: 1200px)
  .text-xl-left
    text-align: left !important

  .text-xl-right
    text-align: right !important

  .text-xl-center
    text-align: center !important


.text-lowercase
  text-transform: lowercase !important

.text-uppercase
  text-transform: uppercase !important

.text-capitalize
  text-transform: capitalize !important

.font-weight-light
  font-weight: 300 !important

.font-weight-normal
  font-weight: 400 !important

.font-weight-bold
  font-weight: 700 !important

.font-italic
  font-style: italic !important

.text-white
  color: #fff !important

.text-primary
  color: $color-primary !important

.text-secondary
  color: $color-secondary !important

.text-tertiary
  color: $color-tertiary !important

a.text-primary:hover, a.text-primary:focus
  color: #0062cc !important

a.text-secondary:hover, a.text-secondary:focus
  color: #545b62 !important

.text-success
  color: #28a745 !important

a.text-success:hover, a.text-success:focus
  color: #1e7e34 !important

.text-info
  color: #17a2b8 !important

a.text-info:hover, a.text-info:focus
  color: #117a8b !important

.text-warning
  color: #ffc107 !important

a.text-warning:hover, a.text-warning:focus
  color: #d39e00 !important

.text-danger
  color: #dc3545 !important

a.text-danger:hover, a.text-danger:focus
  color: #bd2130 !important

.text-light
  color: #f8f9fa !important

a.text-light:hover, a.text-light:focus
  color: #dae0e5 !important

.text-dark
  color: #343a40 !important

a.text-dark:hover, a.text-dark:focus
  color: #1d2124 !important

.text-muted
  color: #6c757d !important

.text-hide
  font: 0/0 a
  color: transparent
  text-shadow: none
  background-color: transparent
  border: 0