section.bloc-link
  .container-fluid
    .row
      .col
        .bloc-link--bloc-container
          .bloc-link--bloc(data-img="/assets/img/sowo-img1.jpg")
          .bloc-link--bloc(data-img="/assets/img/sowo-img1.jpg")
          .bloc-link--bloc(data-img="/assets/img/sowo-img1.jpg")
          .bloc-link--bloc(data-img="/assets/img/sowo-img1.jpg")

//- idée principale : les divs sont préconçues
  forme--1 : carré
  forme--2&3 : rectangle

  on récupère les images on les mets en bgi avec data-image

  avantages : on peut sélectionner la forme que l'on veut pour le caré, il ne reste qu'a mettre du flex en collumn sur le bloc container