section.book-engine
  .container
    .row.d-flex.align-items-center
      .col-12.col-lg-5 
        p img
      .col-12.col-lg-7
        .book-engine--title
          h2.book-engine--h2
            span Book Now
        .ws
        .book-engine--engine
          form.book-engine--form
            .row
              .col-12.col-lg
                .form-group
                  span.book-engine--label Arrivée
                  span.book-engine--label Départ
                  input#litepicker.book-engine--input(type="text" name="litepicker")
              .col-6.col-lg
                .form-group
                  span.book-engine--label Personnes
                  select#personnes.book-engine--select(name="personnes")
                    option.book-engine--option(value="1") 1
                    option.book-engine--option(value="2") 2
                    option.book-engine--option(value="3") 3
                    option.book-engine--option(value="4") 4
                    option.book-engine--option(value="5") 5
                    option.book-engine--option(value="6") 6
                    option.book-engine--option(value="7") 7
                    option.book-engine--option(value="8") 8
                    option.book-engine--option(value="9") 9
                    option.book-engine--option(value="10") 10
              .col-6.col-lg
                .form-group
                  span.book-engine--label Services
                  select#services.book-engine--select(name="services")
                    option.book-engine--option(value="hébergement + desk") hébergement + desk 1
                    option.book-engine--option(value="hébergement + desk") hébergement + desk 2
                    option.book-engine--option(value="hébergement + desk") hébergement + desk 3
              .col-12.col-lg.px-0
                .form-group.book-engine--form-group-btn
                  input.book-engine--input.book-engine--btn(type="submit" value="")