section.bubulle1
  //- .container
  //-   .row
  //-     //- Text Modifier ---------------------------------------------
  //-     .col-12.col-md-6
  //-       a(href="").img-link--link
  //-         .img-link--img-container
  //-           img(src="assets/img/sowo-img1.jpg", alt="").img-link--img
  //-           .img-link--content
  //-             span.img-link--text TEXT

  <div class="wrapper">
    <p><span></span></p>
    <p><span></span></p>
  </div>
