
.ws-100
section.bubulle2
  .container
    .row
      .col-12.col-md-6
       .img-link--link.shape
          .img-link--img-container 
            img(src="assets/img/sowo-img1.jpg", alt="").img-link--img
            .img-link--content
              span.img-link--text TEXT
      .col-12.col-md-6
        .img-link--link
          .img-link--img-container
            img(src="assets/img/sowo-img1.jpg", alt="").img-link--img
            .img-link--content
              span.img-link--text TEXT
      //- .col-12.col-md-6
      //-   .img-link--link.shape
      //-     .img-link--img-container
      //-       img(src="assets/img/sowo-img1.jpg", alt="").img-link--img
      //-       .img-link--content
      //-         span.img-link--text TEXT
      //- .col-12.col-md-6
      //-   .img-link--link.shape
      //-     .img-link--img-container
      //-       img(src="assets/img/sowo-img1.jpg", alt="").img-link--img
      //-       .img-link--content
      //-         span.img-link--text TEXT
      p
      //- .col-12.col-md-6
      //-   .shape
      //-     img(src="assets/img/sowo-img1.jpg", alt="") 

//- section.bubulle2
//-   .container
//-     .row
//-       //- Text Modifier ---------------------------------------------
//-       .col-12.col-md-6
//-         a(href="").img-link--link
//-           .img-link--img-container.shape
//-             img(src="assets/img/sowo-img1.jpg", alt="").img-link--img
//-             .img-link--content
//-               span.img-link--text TEXT