section.caroussel
  .caroussel--slider
    .caroussel--slide
      .caroussel--img
        img(src="/assets/img/bestregard-slider1.jpg", alt="")
    .caroussel--slide
      .caroussel--img
        img(src="/assets/img/bestregard-slider1.jpg", alt="")
    .caroussel--slide  
      .caroussel--img
        img(src="/assets/img/bestregard-slider1.jpg", alt="")
  .caroussel--arrows
    .prev
      +svg('bestregard-arrow_1','caroussel--arrows-left')
    .next
      +svg('bestregard-arrow_1','caroussel--arrows-right')
  .pagingInfo