//- footer.footer
//-   .ws-50
//-   .container-fluid
//-     .row.d-flex
//-       .col-12.col-md-12.col-lg-2.order-lg-3
//-         .footer--logo-container
//-           +svg('sowo-logo-white','footer--logo')
//-         .ws-50.ws-50-md.ws-0-lg
//-       .col-12.col-md-6.col-lg-4.order-lg-2.d-flex.align-items-center.justify-content-center
//-         .footer--link-container
//-           a(href="").footer--link contact 
//-           .ws-20.ws-30-md.ws-0-lg
//-           a(href="").footer--link mentions Légales
//-           .ws-50.ws-0-md
//-       .col-12.col-md-6.col-lg-4.order-lg-4.d-flex.align-items-center.justify-content-center
//-         .footer--newsletter-container
//-           a(href="").footer--link newsletter
//-           .ws-20.ws-30-md.ws-0-lg
//-           .footer--newsletter-form
//-             input(type="text" name="nom" placeholder=" ").footer--newsletter-input
//-             label(for="text").footer--newsletter-label e.mail
//-             button.footer--newsletter-button
//-               +svg('sowo-arrow','footer--arrow')
//-       .col-12.col-md-12.col-lg-1.order-lg-1
//-         .ws-30.ws-0-lg
//-         .footer--social-container.d-flex.flex-lg-column.align-items-center
//-           .footer--social
//-             +svg('sowo-facebook','footer--facebook')
//-           .footer--social
//-             +svg('sowo-instagram','footer--instagram')
//-       .col-lg-1.order-lg-5
//-   .ws-50