section.four-block
  .container
    .row.four-block--container
        .col-12.col-md-6.col-lg
          .four-block--content
            h2.four-block--title titre
            .four-block--text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem dolor autem totam saepe necessitatibus dicta dolorem
        .col-12.col-md-6.col-lg
          .four-block--content
            h2.four-block--title titre
            .four-block--text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem dolor autem totam saepe necessitatibus dicta dolorem
        .col-12.col-md-6.col-lg
          .four-block--content
            h2.four-block--title titre
            .four-block--text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem dolor autem totam saepe necessitatibus dicta dolorem
        .col-12.col-md-6.col-lg
          .four-block--content
            h2.four-block--title titre
            .four-block--text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem dolor autem totam saepe necessitatibus dicta dolorem
        .four-block--texture.texture--1 