section.img-link
  .container
    .row
      //- Text Modifier ---------------------------------------------
      .col-12.col-md-6
        a(href="").img-link--link
          .img-link--img-container
            img(src="assets/img/sowo-img1.jpg", alt="").img-link--img
            .img-link--content
              span.img-link--text TEXT
      //- Liste Modifier --------------------------------------------
      .col-12.col-md-6
        .img-link--list-container.li-custom-black
          ul
            li blablablabla bla jehdusqjf ejzqfnqos foj
            li nezu hbuf beuqbuebzuHEBHJ BGBG 
            li blablablabla bla jehdusqjf ejzqfnqos foj
            li nezu hbuf beuqbuebzuHEBHJ BGBG 
        a(href="").img-link--link
          .img-link--img-container
            img(src="assets/img/sowo-img1.jpg", alt="").img-link--img
            .img-link--content
              .img-link--content-img
                +svg('sowo-logo-white', 'img-link--img')

      //- NoContent & NoClick Modifier ------------------------------
      .col-12.col-md-6
        .mt-n--150
        a(href="").img-link--link.nocontent.noclick
          .img-link--img-container
            img(src="assets/img/sowo-img1.jpg", alt="").img-link--img
            .img-link--content
              .img-link--content-img
                +svg('sowo-logo-white', 'img-link--img')

      //- Date Modifier----------------------------------------------
      .col-12.col-md-6
        a(href="").img-link--link
          .img-link--img-container
            img(src="assets/img/sowo-img1.jpg", alt="").img-link--img
            .img-link--content
              .img-link--date-content
                span.img-link--date-day XX
                span.img-link--date-month oct.
            .img-link--event.event-right
              .img-link--event-container
                .img-link--event-content
                  p test

      //- Menu Modifier----------------------------------------------
      .col-12.col-md-6
        a(href="").img-link--link
          .img-link--img-container.rect-vertical
            img(src="assets/img/sowo-img1.jpg", alt="").img-link--img
            .img-link--content-btn
              a(href="").btn--tertiary
                .btn--container
                  .btn--text-container
                    span réservez votre visite
      .col-12.col-md-6
        a(href="").img-link--link
          .img-link--img-container.rect-horizontal.right
            img(src="assets/img/sowo-img1.jpg", alt="").img-link--img
            .img-link--content-btn
              a(href="").btn--tertiary
                .btn--container
                  .btn--text-container
                    span réservez votre visite
      .col-12.col-md-6
        a(href="").img-link--link
          .img-link--img-container
            img(src="assets/img/sowo-img1.jpg", alt="").img-link--img
            .img-link--content-btn
              a(href="").btn--tertiary
                .btn--container
                  .btn--text-container
                    span réservez votre visite