//- modifier 2 img 
  images size 1:1
section.img
  .container-fluid
    .row
      .col-12.col-md-6.p-0
        .img--container
          img(src="assets/img/sowo-img1.jpg", alt="")
      .col-12.col-md-6.p-0
        .img--container
          img(src="assets/img/sowo-img2.jpg", alt="") 
    .row
      .col-12.col-md-6.p-0
        .img--container
          img(src="assets/img/sowo-img1.jpg", alt="")
      .col-12.col-md-6.p-0
        .img--container
          img(src="assets/img/sowo-img2.jpg", alt="")

//- modifier 1 img full
  images size 2:1
section.img
  .container-fluid
    .row
      .col.p-0
        .img--container
          img(src="assets/img/sowo-img3.jpg", alt="")