//- Modifier couleur/texture
  .color--1
  .texture--1
section.link
  .container
    .row
      .col-12.col-md-6
        a(href="").btn--primary
          .btn--container
            .btn--text-container
              span réservez votre visite
        .ws-50.ws-0-md
      .col-12.col-md-6
        a(href="").btn--secondary
          .btn--container
            .btn--text-container
              span réservez votre visite

