nav.nav
  .ws-50
  #test
  .container
    .row
      .col-9.col-lg-11
        .nav--logo-container
          +svg('sowo-logo-black','nav--logo')
      .col-3.col-lg-1.position-relative
        .nav--hamburger-container
          +svg('sowo-hamburger-yellow','nav--logo')
  .ws-50
  .nav--menu-full
    .ws-50
    .container
      .row 
        .col-9.col-lg-11
          .nav--logo-container
            +svg('sowo-logo-black-eye','nav--logo')
        .col-3.col-lg-1.position-relative
          .nav--close-container
            +svg('sowo-close','nav--logo')
    .container
      .row
        .col-12.col-md-6.d-none.d-md-block.col-lg-6
          .nav--menu
            .nav--stickers-container 
              +svg('sowo-stickers1','nav--stickers')
        .col-12.col-md-6.col-lg-5
          .nav--menu
            .nav--menu-link-container
              .nav--menu-link
                a(href="").nav--a 
                  span café
              .nav--menu-link
                a(href="").nav--a
                  span desks partagés
              .nav--menu-link
                a(href="").nav--a
                  span offices résidents 
              .nav--menu-link
                a(href="").nav--a
                  span nos résidents 
              .nav--menu-link
                a(href="").nav--a 
                  span salons 
              .nav--menu-link
                a(href="").nav--a
                  span privatisation 
              .nav--menu-link
                a(href="").nav--a
                  span agenda 
              .nav--menu-link
                a(href="").nav--a
                  span contact
        .col-lg-1.d-xs-none.d-lg-block
    .row.fixed-bottom.mb-2.mb-sm-4
      .col-12.col-md-6.d-flex.align-items-center.justify-content-center
        .nav--newsletter-container
          a(href="").nav--link newsletter
          .nav--newsletter-form
            input(type="text" name="nom" placeholder=" ").nav--newsletter-input
            label(for="text").nav--newsletter-label e.mail
            button.nav--newsletter-button
              +svg('sowo-arrow-yellow','nav--arrow')
          .ws-20.ws-sm-40
      .col-12.col-md-6.d-flex.align-items-end.justify-content-center.justify-content-md-start
        .nav--social-container.d-flex.align-items-center
          .nav--social
            +svg('sowo-facebook-black','nav--facebook')
          .nav--social
            +svg('sowo-instagram-black','nav--instagram')
          .ws-20.ws-sm-40