section.pictolist
    .container
        .row
            .col
                .pictolist--icon
                    +svg('bestregardes-picto-prepa', 'pictolist--svg')
                p.pictolist--p.text-center Préparation du chalet 
                    br
                    | avant arrivée
            .col
                .pictolist--icon
                    +svg('bestregardes-picto-key', 'pictolist--svg')
                p.pictolist--p.text-center Gestion arrivée et 
                    br
                    | départ du logement
            .col
                .pictolist--icon
                    +svg('bestregardes-picto-radiator', 'pictolist--svg')
                p.pictolist--p.text-center Régulation du chauffage
                    br
                    | selon les saisons
            .col
                .pictolist--icon
                    +svg('bestregardes-picto-talk', 'pictolist--svg')
                p.pictolist--p.text-center Liaison entre les différents
                    br
                    | prestataires 
        .row
            .col
                .pictolist--icon
                    +svg('bestregardes-picto-devis', 'pictolist--svg')
                p.pictolist--p.text-center Devis et conseils
                    br
                    | pour toute maintenance
            .col
                .pictolist--icon
                    +svg('bestregardes-picto-discussion', 'pictolist--svg')
                p.pictolist--p.text-center Suivi et relance
                    br
                    | des fournisseurs
            .col
                .pictolist--icon
                    +svg('bestregardes-picto-newtech', 'pictolist--svg')
                p.pictolist--p.text-center Mise en place des
                    br
                    | nouvelles technologies
            .col
                .pictolist--icon
                    +svg('bestregardes-picto-time', 'pictolist--svg')
                p.pictolist--p.text-center Disponible 7/7 jours
                    br 
                    | Intervention et conseil 