section.textlink
    .container
        .row
            .col
                h3.textlink--h3.text-center Vous êtes propriétaire et souhaitez confier la gestion votre bien
                    br
                    | à un interlocuteur de confiance ?
        .ws-50
        .row
            .col.d-flex.justify-content-center
                a.textlink--a(href="#") Contactez-nous