section.titledesc
    .container
        .row
            .col-12          
                h2.titledesc--h2 le chalet management
                h1.titledesc--h1 L’humain au cœur
                    br
                    | de notre relation
        .row   
            .col-12.col-md 
                p.titledesc--p De la préparation de votre bien à la gestion des aménagements en passant par le suivi et les liaisons avec les prestataires; nous prenons en charge la maintenance de votre chalet. 
            .col-12.col-md
                p.titledesc--p Nous nous occupons de tous les aspects pratiques pour vous assurer une tranquillité d'esprit totale. Enfin, nous garantissons une relation privilégiée avec les propriétaires sélectionnés.
