//- Midifier couleur
  .color--nb
//- Midifier couleur
  .li-custom
section.title-text.color--1.li-custom
  .container
    .row
      .col-12.col-lg-5
        .title-text--title-container
          h3.title-text--h3.reveal.reveal-left
            span title 
              br 
              | KARTOOOFEN
      .col-12.col-lg-7
        .ws-30.ws-50-lg
        .title-text--text-container.reveal.reveal-right
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic aspernatur maiores sapiente doloremque, quis ex, debitis nostrum enim ducimus velit repellat vero iste inventore consectetur maxime vel rerum quaerat fugit.
          br
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic aspernatur maiores sapiente doloremque, quis ex, debitis nostrum enim ducimus velit repellat vero iste inventore consectetur maxime vel rerum quaerat fugit.
          ul
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, quae fugiat? Molestiae eligendi aut, quas mollitia dolor nisi iure cumque unde ea, dolorum sapiente sequi sit fugit facilis. Aut, deleniti?