section.totop
  .content
    .row
      .col.position-relative
        .ws-100
        #totop
          .totop--arrow-container
            .totop--arrow
              +svg('sowo-arrow-totop','totop--arrow-svg') 