mixin hero(titleClass='')
  .hero
    .hero--social.d-flex.align-items-center
      .container
        .row
          .col-12.col-md-6
            a.hero--link(href="")
              +svg('picto-fb')
          .col-12.col-md-6
            a.hero--link(href="")
              +svg('picto-insta')
    .hero--slider
      .hero--slide
        img(src="assets/img/edenarc-hero1.jpg", alt="")
      .hero--slide
        img(src="assets/img/edenarc-hero1.jpg", alt="")
      .hero--slide
        .conteneur
          iframe(src="https://www.youtube.com/embed/6SHMdiBr-AQ?controls=0" frameborder="0")
          h2 mettre une video (non ytb)
    h1.hero--title(class=titleClass)
      block