.bloc-link
  &--block-container
  &--block
    background-color: red

// MISC

.forme
  &--1
    clip-path: polygon(0 10%, 90% 10%, 90% 100%, 0% 100%)
  &--2
    clip-path: polygon(0 0, 90% 0, 90% 100%, 0% 100%)
  &--3
    clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0% 100%)