.book-engine
  &--form
    border: 2px solid $color-secondary
    border-radius: 10px 10px 0 0
    padding: 15px 25px 0px 25px
    font-size: .9em
    width: 100%
  &--input
    width: 100%
    border: 0
    font-family: $font-tertiary
  &--select
    width: 100%
    font-family: $font-tertiary
  &--label
    margin-right: 40px
    font-size: .5em
    text-transform: uppercase
    font-family: $font-secondary
    letter-spacing: .1em
  .nice-select
    font-size: 1.1em
    color: $color-primary
    line-height: unset
    height: 26px
    border: 0
    background-color: $white
    .list
      background-color: $white
    li.option:hover,
    li.option.selected.focus
      background-color: $color-secondary
  &--btn
    border: 2px solid $color-secondary
    position: relative
    top: 80px
    padding: -15px 0 -15px 0
    // left: -13px
    transform: translate(0, -50%)
    height: 80px
    background-color: $color-secondary
    border-radius: 0 0 10px 10px
    padding: 0
  &--form-group-btn
    margin-left: -12px
    margin-right: -12px

html .form-group
  margin-bottom: 0


@include breakpoint-lg
  .book-engine
    &--btn
      border-radius: 0 10px 10px 0
      top: 23px
      border: none
      left: 15px
      height: 81px
    &--form
      border-radius: 10px 0 0 10px
      height: 80px
      padding: 15px 0px 0px 25px

