.bubulle2
  // background-color: #005
  width: 100vw
  height: 100vh
  .containerb
    align-items: center
    display: flex
    height: 100vh
    width: 100vw
    justify-content: center
  .shape 
    overflow: hidden
    // border-radius: 3%
    transition: all 3s ease-in-out
    // animation: none
    &:hover
      border-radius: 40% 20% 30% 20% / 40% 20% 20% 25%
      animation: morph 6s ease-in-out infinite
      transition: all 3s ease-in-out
      
@keyframes morph
  0% 
    border-radius: 40% 20% 30% 20% / 40% 20% 20% 25%
    -webkit-animation-timing-function: ease-out
    // background: red
  50% 
    border-radius: 20% 30% 40% 30% / 15% 25% 40% 20%
    -webkit-animation-timing-function: ease-in
    // background: blue
  100% 
		border-radius: 40% 20% 30% 20% / 40% 20% 20% 25%
    -webkit-animation-timing-function: ease-in
		// background: red

@keyframes morph_top_left
  0% 
    border-radius: 30% 20% 30% 20% / 30% 20% 30% 20%
  20% 
    border-radius: 50% 15% 30% 15% / 50% 15% 20% 25%
  40% 
    border-radius: 50% 15% 30% 15% / 50% 15% 20% 25%
  60% 
    border-radius: 20% 30% 50% 10% / 20% 30% 50% 15%
  80% 
    border-radius: 50% 15% 30% 15% / 50% 15% 20% 25%
  100% 
		border-radius: 50% 15% 30% 15% / 50% 15% 20% 25%