.caroussel
  position: relative
  &--img
    width: 100%
    height: auto
    background-size: cover
    img
      width: 100%
      height: 100%

  &--arrows
    position: absolute
    bottom: 50px
    right: 10px
    .prev
      position: absolute
      right: 50px
      height: 30px
      width: 30px
      transform: rotate(180deg)
      svg
        height: 100%
        width: 100%
    .next
      height: 30px
      width: 30px      
      svg
        height: 100%
        width: 100%

.counter
  font-family: $font-tertiary
  user-select: none

.change
  font-size: 50px

.pagingfInfo
  position: absolute
  bottom: 0
  left: 10px
  height: 50px

@include breakpoint-md
  .caroussel
    position: relative
    &--img
      width: 100vw
      height: 90vh
      background-size: cover
      img
        width: 100%
        height: 100%
    &--arrows
      position: absolute
      bottom: 0px
      right: 0
      .prev
        position: absolute
        right: 100px
        height: 60px
        width: 60px
        transform: rotate(180deg)
        svg
          height: 100%
          width: 100%
      .next
        height: 60px
        width: 60px      
        svg
          height: 100%
          width: 100%

