.footer
  position: relative
  z-index: 100
  background-color: $color-primary
  &--logo-container
    display: flex
    align-items: center
    margin: 0 auto
    width: 75px
    height: 75px
    svg
      margin: auto 0
      height: 100%
      width: 100%
  // link
  &--link-container
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-content: center
  &--link
    color: $color-tertiary
    text-align: center
    margin: 0 20px
  
  // newsletter
  &--newsletter-container
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-content: center
  &--newsletter-form
    width: fit-content
    margin-right: 50px
    margin-left: 20px
    position: relative
  &--newsletter-label
    color: $color-tertiary
    position: absolute
    color: $color-tertiary
    top: 0px
    left: 0px
    font-size: 1em
    pointer-events: none
    transition: all .2s ease
    margin-bottom: 0
  &--newsletter-input 
    color: $color-tertiary
    outline: none
    border-bottom: 1px solid $color-secondary
    border-top: 0
    border-left: 0
    border-right: 0
    background-color: $color-primary
    &:focus~.footer--newsletter-label
      top: -20px
      left: 0px
      font-size: 0.7em
  &--newsletter-button
    border: none
    outline: none
    margin-left: 20px
    padding: 5px
    background: $color-secondary
    align-self: flex-end
    width: 30px
    height: 30px
    position: absolute
    bottom: 0
    svg 
      height: 100%
      width: 100%
      outline: none
    button  
      outline: none
  
  // social
  &--social-container
    display: flex
    justify-content: center
    align-content: center
  &--social
    margin: 5px 10px
    width: 30px
    height: 30px
    svg
      width: 100% 
      height: 100%

@include breakpoint-lg
  .footer
    &--link-container
      flex-direction: row
    &--newsletter-container
      flex-direction: row
     
      
      

  
  