.four-block
  position: relative
  margin: 40px
  &--container
    background-color: $color-secondary
    padding: 20px
    border-radius: 20px 20px 20px 20px
  &--content
    margin: 20px 5px 
  &--title   
    margin: 10px 0
    color: $color-tertiary
    font-size: 1.5em
    // font-family: $font-primary-bis
    text-transform: uppercase
  &--text
    word-break: break-word 
    font-family: $font-secondary
    color: $color-primary 
    font-size: 1.08em 
  &--texture
    position: absolute
    width: 100%
    height: 100%
    border-radius: 20px 20px 20px 20px
    z-index: -1
    max-width: 1140px

@include breakpoint-md
  .fourBlock
    margin: 50px 0
    padding: 20px
    &--content
      margin: 20px
    &--texture
      top: 30px
      margin-left: 15px
