.img-link
  &--img-container
    position: relative
    width: 100%
    height: fit-content
    // overflow: hidden
    // margin: 30px
    img
      object-fit: cover
      border-radius: 3%
      width: 100%
    &.rect-horizontal
      position: relative
      width: 110%
      height: 80%
      img
        border-radius: 3% / 4%
        width: 100%
        height: 100%
      &.left
        right: 10%
      &.right
        right: 0
    &.rect-vertical
      position: relative
      width: 100%
      height: 110%
      img
        border-radius: 3% 
        width: 100%
        height: 100%

        
  &--content
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: $color-primary
    width: 185px
    height: 185px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
  &--content-btn
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  &--text
    text-align: center
    color: $color-tertiary
    span 
      vertical-align: middle
      text-align: center
  &--content-img    
    width: 100px
    height: 100px
    svg 
      height: 100%
      width: 100%
  &--link
    // display: block
    // width: 100%
    // height: 100%
    // padding: 30px
  &--list-container
    padding: 30px
    color: $color-secondary
  &--date-content
    display: flex
    flex-direction: column
  &--date-day
    margin-top: -30px
    font-size: 5em
    text-align: center
    color: $color-secondary
  &--date-month
    margin-top: -30px
    font-size: 2.2em
    text-align: center
    color: $color-secondary

  &--event
    position: absolute
    width: 100vh
    height: 100vh
    background: $color-secondary
    color: $color-primary
    overflow: hidden
    &.event-bottom
      bottom: 5%
      left: 5%
      max-width: 90%
      max-height: 0
      transition: max-height .5s ease-in-out 
    &.event-top
      top: 5%
      left: 5%
      max-width: 90%
      max-height: 0
      transition: max-height .5s ease-in-out 
    &.event-left
      left: 5%
      top: 5%
      max-height: 90%
      max-width: 0
      transition: max-width .5s ease-in-out 
    &.event-right
      right: 5%
      top: 5%
      max-height: 90%
      max-width: 0
      transition: max-width .5s ease-in-out 
  &--event-container
    position: relative
    // top: 0
    // left: 0
  &--event-content
    position: absolute
    left: 200px
    top: 200px
    text-align: center
    margin: auto 0
    // vertical-align: middle
    
  &--link:hover
    .img-link--event
      &.event-bottom,
      &.event-top
        max-height: 90%
      &.event-left,
      &.event-right
        max-width: 90%
  .care
    