.link
// BTN SASS

.btn  
  &--primary
    .btn--container
      width: fit-content
      height: fit-content
      margin: 0 auto
      position: relative
      &::before
        content: ""
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 100%
        background-repeat: repeat
        background-image: url('../img/texture-1.jpg')
        background-size: 100px
        transform: translate( 0%, 0%)
        opacity: 0
        transition: all .5s ease-in-out 
      &:hover:before
        transform: translate( 10%, 20%)
        opacity: 1
        transition: all .5s ease-in-out 
    .btn--text-container
      background-color: $color-primary 
      position: relative
      padding: 15px 20px
      font-size: 1.2em
      color: $color-tertiary
  &--secondary
    .btn--container
      width: fit-content
      height: fit-content
      margin: 0 auto
      position: relative
      &::before
        content: ""
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 100%
        background-color: $color-secondary
        transform: translate( 0%, 0%)
        opacity: 0
        transition: all .5s ease-in-out 
      &:hover:before
        transform: translate( 10%, 20%)
        opacity: 1
        transition: all .5s ease-in-out 
    .btn--text-container
      background-color: $color-tertiary
      position: relative
      padding: 15px 20px
      font-size: 1.2em
      color: $color-primary
  &--tertiary
    .btn--container
      width: fit-content
      height: fit-content
      margin: 0 auto
      position: relative
      &::before
        content: ""
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 100%
        background-repeat: repeat
        background-image: url('../img/texture-4.jpg')
        background-size: 75px
        transform: translate( 0%, 0%)
        opacity: 0
        transition: all .5s ease-in-out 
      &:hover:before      
        transform: translate( 10%, 20%)
        opacity: 1
        transition: all .5s ease-in-out 
    .btn--text-container
      background-color: $color-secondary
      position: relative
      padding: 15px 20px
      font-size: 1.2em
      color: $color-tertiary
    

