#test
  transform-origin: center center
  width: 600px
  height: 100vh
  background: $blue
  position: fixed 
  z-index: 1000000
  top: 0
  right: -500px 
  clip-path: ellipse(25% 50% at 50% 50%)
  transition: clip-path .2s ease-in-out
  // &:hover
  //   clip-path: ellipse(25% 50% at 50% 50%) 
  &.is-active
    clip-path: ellipse(45% 50% at 50% 50%)
.nav
  position: relative
  &--logo-container
    margin-left: 15px
    width: 130px
    height: 50px
    svg
      width: 100%
      height: 100%
  &--hamburger-container
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50% ,-50%)
    width: 40px
    height: 40px
    svg
      width: 100%
      height: 100%
  // ----------------------------------------------------------
  //     Menu-full 
  // ----------------------------------------------------------
  &--menu-full
    display: none
    &.is-active 
      display: block
      z-index: 1000000
      background-color: $color-secondary
      position: fixed
      top: 0
      left: 0
      bottom: 0
      right: 0
    .nav
      &--stickers-container
        // width: 100vw
        height: 40vh
        width: 50vw
        position: absolute
        top: 50%
        right: -15%
        transform: translate(0, -50%)  
        svg 
          width: 100%
          height: 100%
      &--close-container
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50% ,-50%)
        width: 30px
        height: 30px
        svg
          width: 100%
          height: 100%
      &--menu-link-container
        position: absolute
        top: 50%
        right: 5% 
        transform: translate(0, -50%)  
        text-align: right
        margin-right: 5%
      &--a 
        font-size: 1.7em
        text-align: right
        &:hover
          color: $color-primary
          text-shadow: 3px 3px $color-tertiary
      &--menu
        position: relative
        height: 60vh

      &--newsletter-container
        // display: flex
        // flex-direction: column
        // justify-content: space-evenly
        // align-content: center
        margin: auto 0
        margin-right: 5%
        width: 80%
      &--newsletter-form
        margin-top: 20px
        width: 100%
        margin-right: 50px
        position: relative
      &--newsletter-label
        color: $color-primary
        position: absolute
        color: $color-primary
        top: 0px
        left: 0px
        font-size: 1em
        pointer-events: none
        transition: all .2s ease
        margin-bottom: 0
      &--newsletter-input 
        color: $color-tertiary
        width: 90%
        outline: none
        border-bottom: 1px solid $color-primary
        border-top: 0
        border-left: 0
        border-right: 0
        background-color: $color-secondary
        &:focus~.nav--newsletter-label
          top: -20px
          left: 0px
          font-size: 0.7em
      &--newsletter-button
        border: none
        outline: none
        margin-left: 20px
        padding: 5px
        background: $color-primary
        align-self: flex-end
        width: 30px
        height: 30px
        position: absolute
        bottom: 0
        svg 
          height: 100%
          width: 100%
          outline: none
        button  
          outline: none
      
      // social
      &--social-container
        display: flex
        justify-content: center
        align-content: center
        margin-bottom: 15px
      &--social
        margin: 5px 10px
        width: 30px
        height: 30px
        svg
          width: 100% 
          height: 100%
      &--link
        font-size: 1.2em
@media screen and ( min-width: 710px )
  .nav
    &--menu-full
      .nav--a
        font-size: 2em
    &--newsletter-form
      margin-top: 0

@include breakpoint-md 
  .nav
    &--newsletter-input 
      width: 50vw
    &--menu-full
      .nav--a
        font-size: 2em
    

@include breakpoint-lg
  .nav
    &--stickers-container
      right: -20%