.pictolist
    &--icon
        width: 100px
        height: 100px
        margin: 20px auto
        
    &--svg
        height: 100%
        width: 100%
        color: $color-secondary
        
    &--p 
        font-family: $font-tertiary
        color: $color-secondary
        font-size: 0.8em
        margin: 0 0 20px 0 
         

@include breakpoint-md 
    .pictolist
        &--icon
            width: 50px
            height: 50px
            margin: 20px auto
        
        &--svg
            height: 100%
            width: 100%
            color: $color-secondary
            
        &--p 
            font-family: $font-tertiary
            color: $color-secondary
            font-size: 0.8em
            margin: 0 0 20px 0 
