.textlink
    &--h3
        font-family: $font-primary
        color: $color-primary
        letter-spacing: 1px
        line-height: 30px

    &--a
        font-family: $font-tertiary
        color: $color-secondary
        text-transform: uppercase
        font-size: 0.8em
        margin: 0 0 20px 0 
        letter-spacing: .2rem

        border-bottom: 1px solid $color-secondary
        padding: 4px

@include breakpoint-md
    .textlink
        &--h3
            line-height: 50px
