.title
  &--container
    background-color: $color-primary
    width: fit-content
    margin: 0 auto
    position: relative
    .title--h2
      padding: 5px 20px
      margin: 0
      text-transform: uppercase
      position: relative
      span 
        margin: 10px 0
        color: $color-tertiary
        font-size: 1.2em
  &--texture
    content: " "
    position: absolute
    width: 100%
    height: 100%
    transform: translate( 10%, -75%)
    z-index: -1
    background-repeat: repeat

