.title-text
  padding: 0 20px
  &--title-container
    text-align: left
  &--text-container
    text-align: left
    word-break: break-word



@include breakpoint-sm
  .title-text
    padding: initial
@include breakpoint-lg
  .title-text
    &--title-container
      text-align: right
      margin-right: 20%
    

// MISC
.li-custom
  ul
    list-style-type: none
    li
      position: relative
      &::before
        content: "//"
        position: absolute
        color: $color-secondary
        left: -20px

.li-custom-black
  ul
    list-style-type: none
    li
      position: relative
      &::before
        content: "//"
        position: absolute
        color: $color-primary
        left: -20px
.color
  &--1
    background-color: $color-secondary
    &.li-custom ul li::before
      color: $color-primary
    &.totop #totop
      background: $color-tertiary


.texture
  &--1
    &.totop,
    &.link,
    .img-link--img-container,
    .title--texture,
    .link--texture
      background-image: url('../img/texture-1.jpg')
      background-size: 100px
      background-repeat: repeat
  &--2
    &.totop,
    &.link,
    .img-link--img-container,
    .title--texture,
    .link--texture
      background-image: url('../img/texture-2.jpg')
      background-size: 100px
      background-repeat: repeat
  &--3
    &.totop,
    &.link,
    .img-link--img-container,
    .title--texture,
    .link--texture
      background-image: url('../img/texture-3.jpg')
      background-size: 200px
      background-repeat: repeat
  &--4
    &.totop,
    &.link,
    .img-link--img-container,
    .title--texture,
    .link--texture
      background-image: url('../img/texture-4.jpg')
      background-size: 75px
      background-repeat: repeat
  
.noclick
  pointer-events: none
.nocontent
  .img-link--content
    display: none


// VARIABLES

//$black: #000000
// yellow: #DBDC2D
// $white : #FFFFFF

// $color-primary: $black
// $color-secondary: $yellow
// $color-tertiary: $white

// utiliser la nouvelle version de whitespace

// white space

.mt-n
  &--0
    margin-top: 0px !important 
  &--30
    margin-top: -30px !important
  &--40
    margin-top: -40px !important
  &--50
    margin-top: -50px !important
  &--60
    margin-top: -60px !important
  &--70
    margin-top: -70px !important
  &--80
    margin-top: -80px !important
  &--90
    margin-top: -90px !important
  &--100
    margin-top: -100px !important
  &--150
    margin-top: -150px !important

@include breakpoint-md
  .mt-n-md
    &--0
      margin-top: 0px !important
    &--30
      margin-top: -30px !important
    &--40
      margin-top: -40px !important
    &--50
      margin-top: -50px !important
    &--60
      margin-top: -60px !important
    &--70
      margin-top: -70px !important
    &--80
    margin-top: -80px !important
    &--90
      margin-top: -90px !important
    &--100
      margin-top: -100px !important
    &--150
      margin-top: -150px !important



