.titledesc
    &--h1
        font-family: $font-primary
        color: $color-primary
        position: relative
        padding: 0 0 20px 0
        margin: 0 0 30px 0
        font-size: 2em
        &:after
            content: ""
            width: 90px
            height: 1px
            background-color: $color-secondary
            position: absolute
            bottom: 0
            left: 0

    &--h2
        font-family: $font-tertiary
        color: $color-primary
        text-transform: uppercase
        font-size: 0.8em
        margin: 0 0 20px 0 
        letter-spacing: .2rem

    &--p 
        font-family: $font-secondary
        color: $color-primary

@include breakpoint-md
    .titledesc
        &--h1
            font-size: 5em