.totop
  overflow: hidden
  &--arrow-container
    position: relative
  &--arrow
    position: absolute
    top: 15px
    left: 50%
    transform: translateX(-50%)
    width: 30px
    height: 30px
    svg
      width: 100%
      height: 100%
#totop
  width: 450px
  height: 400px
  position: absolute
  bottom: -350px
  z-index: 0
  left: 50%
  transform: translateX(-50%)
  background: $color-secondary
  border-radius: 47%
  